h1{
    color : #ff0000 ;
}

body{
    background-color : rgba(5,71,177,255);
    border: #2ae8fe
;

}

p{
    color: #ffff00;
}

button{
    color:rgb(5, 140, 140);
    background-color: black;
}
.rock1{
 color:chocolate
}
.jarvis{
    color:darkorchid
}
.red2{
    color:aqua
}
#head1{
    color:rgb(229, 11, 196)
}
div{
    color: coral;
    background-color: beige;
}