.navbar{
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    background-color: aqua ;
    color: black;
}
li{
    list-style-type: none;
    display: inline;
}
.outer{
    height: 400px;
    width: 400px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 200px;
    width: 200px;
    background-color: rgb(125, 7, 94);
}