h1{
    text-align: center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    text-transform: uppercase;
}
div{
    color: red; 
    background-color: rgb(136, 255, 255);
}
button{
    color: rgb(97, 20, 220);
}
#one{
    font-family: Arial;
    font-size: 25px;
    text-transform: capitalize;
}
#two{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-transform: lowercase;
}
#h1{
    font-weight: 100;
}
#h2{
    font-weight: 200 ;
}
#h3{
    font-weight: 300;
}
#h4{
    font-weight: 400;
}
#h5{
    font-weight: 500;
}
#h6{
    font-weight: 600 ;
}
#h7{
    font-weight: 700 ;
}
#h8{
    font-weight: 800 ;
}
#h9{
    font-weight: 900 ;
}
