*{
    padding: 0%;
    margin:0% ;
    text-decoration: none;
}
#navbar{
    color:white;
    height: 60px;
    background-color: #0f1111;
    
}
#logo{
    color: #f08804;
    font-size: 25px;
}
#button{
    background-color: #f08804;
}
a{
    margin-right: 185px;
}
.contentbox{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    display: inline-block;
    padding: 25px;
    margin: 25px;
}
#content{
    height: 600px;
}
footer{
    color:white;
    height: 40px;
    background-color: #0f1111;
    text-align: center;
}