div{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 2px solid black;
    /*transition-property: all;
    transition-duration: 2s;*/
    position: absolute;
    top: 200px;
    left: 400px;
    animation-name: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in; 
    animation-delay: 0ms;
    animation-iteration-count: 5;
}
@keyframes colorAnimate{
    from {
    background-color: aqua;
    } to {background-color: red;}
}
div:hover{
    background-color: red;
    color: white;
     
}
div:active{
    background-color: pink;
}