div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    position: static;
}
#box2{
    position: relative;
    top: 20px;
    left: 10px;
}
#box3{
    position: absolute;
    top:0;
    right: 10px;
}
#box4{
    position: fixed;
    top: 10px;
    left: 20px;
}
#box5{
    position: sticky;
    top: 34px;
    bottom: 0px;
}