div{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
    padding: 25px;
}
#box1{
    background-color: rgba(255, 0, 0, 0.25);
}
#box2{
    background-color: rgba(255, 0, 0, 0.5);
}
#box3{
    background-color: rgba(255, 0, 0, 0.75);
}
#box4{
    background-color: rgba(255, 0, 0, 1);
}