*{
    font-family: Times New Roman;
}/*this is comment that when we use this it set for universal dont use div-->*/
h1{
    text-align: center;
    text-transform: capitalize;
}


#outer{
        font-size: 25px;
}
#inner{
    font-size: 15px;
}